# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code local
.vscode/

# Archivos subidos por usuarios
public/uploads/

# Logs
*.log

# Dependencias futuras
vendor/
node_modules/

#archvios privados de la base de datos
app/config/config.php

# Dependencias de Node
node_modules/

# Variables privadas
.env
.env.local

# Editor
.vscode/
.idea/
